<section id="schedule" class="section-with-bg">
    <div class="container" data-aos="fade-up">
        <div class="section-header">
            <h2>CALENDÁRIO DO EVENTO</h2>
            <p>Aqui está a nossa agenda de eventos</p>
        </div>

        <ul class="nav nav-tabs" role="tablist" data-aos="fade-up" data-aos-delay="100">

            {% for index, dia in  diasEvento %}

                <li class="nav-item" style="padding-bottom: 5px;">
                    <a class="nav-link {% if index == 0 %} active {% endif %}" href="#day-{{ index }}" role="tab" data-bs-toggle="tab">
                        Dia {{ dia.dia }}
                        <br>{{ dia.data|date("d/m/Y") }}
                    </a>
                </li>

            {% endfor %}

         {#   <li class="nav-item">
                <a class="nav-link" href="#day-2" role="tab" data-bs-toggle="tab">Day 2</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#day-3" role="tab" data-bs-toggle="tab">Day 3</a>
            </li>#}

        </ul>

        <h3 class="sub-heading">....</h3>

        <div class="tab-content row justify-content-center" data-aos="fade-up" data-aos-delay="200">

            {% for index, dia in diasEvento %}

                <div role="tabpanel" class="col-lg-9 tab-pane fade {% if index == 0 %} show active {% endif %}" id="day-{{ index }}">


                    {% for atividade in atividadesEvento %}
                        {% if dia.dia == atividade.diaEvento.dia  %}

                            <div class="row schedule-item">
                                <div class="col-md-2"><time>{{ atividade.horario|date('H:i A') }}</time></div>
                                <div class="col-md-10">
                                    {% if atividade.palestrante is defined and atividade.palestrante is not empty %}
                                        {% if atividade.palestrante.foto is defined and atividade.palestrante.foto is not empty %}
                                            <div class="speaker">
                                                {% thumbnail atividade.palestrante.foto , 'reference' with {'class': 'logo_atividade_palestrante img-fluid'}  %}
                                            </div>
                                        {% endif %}
                                    {% endif %}
                                    <h4>
                                        {{ atividade.atividade }}

                                        {% if atividade.palestrante is defined and atividade.palestrante is not empty %}
                                            <span>{{ atividade.palestrante.nome }}</span>
                                        {% endif %}

                                    </h4>
                                    <p>{{ atividade.descricao }}</p>
                                </div>
                            </div>

                        {% endif %}

                    {% endfor %}


                </div>

            {% endfor %}
            <!-- End Schdule Day 1 -->

            <!-- Schdule Day 2 -->
            {#<div role="tabpanel" class="col-lg-9  tab-pane fade" id="day-2">

                <div class="row schedule-item">
                    <div class="col-md-2"><time>10:00 AM</time></div>
                    <div class="col-md-10">
                        <div class="speaker">
                            <img src="assets/img/speakers/1.jpg" alt="Brenden Legros">
                        </div>
                        <h4>Libero corrupti explicabo itaque. <span>Brenden Legros</span></h4>
                        <p>Facere provident incidunt quos voluptas.</p>
                    </div>
                </div>

            </div>#}
            <!-- End Schdule Day 2 -->

            <!-- Schdule Day 3 -->
           {# <div role="tabpanel" class="col-lg-9  tab-pane fade" id="day-3">

                <div class="row schedule-item">
                    <div class="col-md-2"><time>10:00 AM</time></div>
                    <div class="col-md-10">
                        <div class="speaker">
                            <img src="assets/img/speakers/2.jpg" alt="Hubert Hirthe">
                        </div>
                        <h4>Et voluptatem iusto dicta nobis. <span>Hubert Hirthe</span></h4>
                        <p>Maiores dignissimos neque qui cum accusantium ut sit sint inventore.</p>
                    </div>
                </div>

            </div>#}
            <!-- End Schdule Day 2 -->

        </div>

    </div>

</section>