      {% extends 'base.html.twig' %}

      {% block title %}
      	{{ parent() }}
      {% endblock %}

      {% block javascripts %}
      	{{ parent() }}
      {% endblock %}

      {% block stylesheets %}
      	{{ parent() }}
      {% endblock %}

      {% block components %}
      	{{ parent() }}
      {% endblock %}

      {% block banner %}
      {% endblock %}

      {% block body %}
          <section id="main" class="wrapper">
            <div class="container">
              <header class="major">
                <h2>FronEnd Banner </h2>
                <p>Arquivo Template de visão padrão</p>
              </header>              
            </div>
          </section>
      {% endblock %}

      {% block footer %}
      	{{ parent() }}
      {% endblock %}
